{% extends 'base/base.html' %}
{% block title %} HOME {% endblock %}
{% load static %}
{% block estilo %} 
<link href="{% static 'assets/dist/css/register_course.css' %}" rel="stylesheet" >
<style>
  input[type="image" i] {
    width: 250px; /* Define el ancho deseado para la imagen */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}
</style>
{% endblock %} 

{% block content %}
<div class="register-course">
  <div class="register-course-title">
    <h1>Register for a course</h1>
    <h2>Welcome to this course: {{course}}</h2>
  </div>
  
  <div class="register-course-divForm">
   
  </div>

</div>


{% endblock %}