{% extends 'base/base.html' %}
{% block title %} Course name -Lessons {% endblock %}
{% load static %}
<style>
    .aprobado {
    display: inline-block;
    padding: 10px 20px;
    background-color: #22f106; /* Verde claro */
    color: #0eec42; /* Verde oscuro */
    border: 2px solid #13e043;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.aprobado::before {
    content: '\2705'; /* Tick verde */
    margin-right: 10px;
    color: #17f34a; /* Color verde */
}

</style>
{% block estilo %} 
<link href="{% static 'assets/dist/css/lesson_exercises.css' %}" rel="stylesheet" >
{% endblock %} 

<!-- Div that contains lesson details -->
{% block content %}
<div class="lesson-container">
    <div class="lesson-info">
        <h2>{{ lesson.topic }}</h2>
        <p>Goal: {{ lesson.gol }}</p>
        <p>Video </p>
        <!-- Assuming lesson.url contains YouTube video embed code -->
        <div class="youtube-video">
            <iframe width="560" height="315" src="{{lesson.url_video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<!-- Div that contains exercises for the lesson -->
<div class="exercises-container">
    <!-- Iterating over exercises -->
    {% if exercises %}
    {% for exercise in exercises %}
    <div class="exercise">
        <p class="exercise-description">{{ exercise.exercise.description }}</p>
        <a href="{% url 'exercise' exercise.exercise.id %}" class="btn-ingresar">Star Exercise</a>
        {% if exercise.approved %}
        <div class="aprobado">
            &#9989; approved
        </div>
         {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}


