{% extends 'base/base.html' %}
{% block title %} Course name -Lessons {% endblock %}
{% load static %}
{% block estilo %} 
<link href="{% static 'assets/dist/css/course_lessons.css' %}" rel="stylesheet" >
{% endblock %} 

{%  block content %}
 <!-- Iteración sobre los cursos -->
 <div class="curso-container">
    <div class="course-image">
        <img src="{{ course.img.url }}" alt="{{ course.name }}" width="100">
    </div>
    <div class="course-info">
        <h2>{{ course.name }}</h2>
        <p>Dificultad: {{ course.difficulty }}</p>
        <p>Description: {{ course.description }}</p>
    </div>
</div>

<div class="lessons-container">
    <!-- Iteración sobre las lecciones -->
    {% for l in lesson %}
    <div class="lesson">
        <p>Gol: {{ l.gol }}</p>
        <p>Topic: {{ l.topic }}</p>
        <p>Lección: {{ l.order }}</p>
        <a href="{% url 'lesson_exercises' l.id %}" class="login-button">Get into</a>
    </div>
    {% endfor %}
</div>


{% endblock %}
