
{% extends 'base/base.html' %}
{% block title %} Register {% endblock %}
{% load static %}
{% block estilo %}
<style>
    .container-failed {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8d7da; /* Color de fondo rojo suave */
    border: 1px solid #f5c6cb; /* Borde rojo */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-failed h1 {
    color: #721c24; /* Color de texto rojo oscuro */
}

.container-failed a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #721c24; /* Color de fondo rojo oscuro */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.container-failed a:hover {
    background-color: #9b1c24; /* Color de fondo rojo más oscuro al pasar el ratón */
}

</style>
 {% endblock %}

{% block content  %}
<div class="container-failed">
    <h1>The purchase of the  {{product}} has failed</h1>
</div>


{% endblock %}