
{% extends 'base/base.html' %}
{% block title %} Register {% endblock %}
{% load static %}
{% block estilo %}
<style>
    .container-success {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-success h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.container-success a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.container-success a:hover {
    background-color: #0056b3;
}
 </style>
 {% endblock %}


{% block content  %}
<div class="container-success">
<h1 >The purchase of the mathematics course {{product}} has been a success</h1>
</div>
{% endblock %}